.editor {
    background-color: var(--clr-bg);
    margin-block: 0.5em;
    border: 8px;
    border-color: var(--clr-editor-border);
    border-radius: 0.5em;
    border-style: solid;
}

.settings-container {
    padding: 0.5em;
    display: grid;
    column-gap: 2px;
    row-gap: 5px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
}

.settings-text {
    grid-column: 1 / 2;
}

.settings-fill {
    width: 2.3em;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.settings-stroke {
    width: 2.3em;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self:end;
}

.btn-submit {
    cursor: pointer;
    text-align: center;
    background-color: var(--clr-add-bg);
    border: 1px solid;
    border-radius: 2em;
    color: var(--clr-add-txt);
    transition: 0.4s;
}

.btn-remove {
    background-color: var(--clr-remove-bg);
    color: var(--clr-add-txt);
    border-radius: 2em;
    transition: 0.4s;
    justify-self: left;
}

.btn-remove:hover {
    color: var(--clr-remove-hover);
}

.btn-download {
    grid-row: 3 / 4;
    justify-self: center;
    border-radius: 2em;
    background-color: var(--clr-download-bg);
    color: var(--clr-add-txt);
}

.btn-save {
    border-radius: 2em;
    grid-row: 3 / 4;
    justify-self: center;
    background-color: var(--clr-save-bg);
    color: var(--clr-add-txt);
}

.btn-submit:hover {
    color: var(--clr-link-hover);
}