:root {
    --header-height: 130px;
    --side-gap: 60px;
    /* --main-width-min: 700px;
    --main-width-max: 90fr;
    --side-gap-min: 20px;
    --side-gap-max: 5fr; */

    /* PALLETTE */
    --clr-header: rgb(32, 44, 44);
    --clr-logo: rgb(0, 195, 255);
    --clr-link: rgb(197, 245, 245);
    --clr-link-hover: rgb(9, 70, 238);
    --clr-nav-border: rgb(20, 20, 20);
}